:root {
    --black: #000;
    --white: #fff;
    --green: #27AE60;
    --red: #C44031;
    --light-black: #212121;
    --xlight-black: #424242;
    --hover-blur-black: #2F2F2F;
    --orange: #FFA837;
}

* {
    text-align: center;
    margin: 0;
    padding: 0;
    user-select: none;
}

p {
    display: inline-block;
}

.timeLeft {
    display: block;
    margin: 75px;
    padding-inline: 15px;
}

.timeSpacing {
    font-size: 50px;
    color: var(--black);
}

#timeLeftHour, #timeLeftMinute, #timeLeftSecond {
    font-size: 50px;
    background-color: var(--black);
    color: var(--white);
    padding-inline: 10px;
    padding-block: 5px;
    padding-bottom: 12px;
    border-radius: 7px;
}

#powerStatusText {
    display: inline-block;
    background-color: var(--orange);
    color: var(--white);
    padding-inline: 25px;
    padding-block: 10px;
    border-radius: 5px;
    margin-top: 40px;
}

.groupDiv button {
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: var(--hover-blur-black);  
}

.groupDiv button, .groupDiv ul li a {
    color: var(--white);
}

.groupDiv button:focus, .groupDiv button:hover {
    color: var(--white);
    background-color: var(--hover-blur-black);
    border: 1.5px solid #3A3A3A;
    opacity: 0.85;
}

.groupDiv ul {
    background-color: var(--hover-blur-black);
    border: 1.5px solid #3A3A3A;
}

.groupDiv ul li a:hover {
    color: var(--white);
    background-color: var(--xlight-black);
    border-radius: 3px;
    cursor: pointer;
}

.versionDiv {
    position: fixed;
    left: 5px;
    bottom: -15px;
}
